* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* Estilização do banner */
.banner {
    position: relative;
    height: 100vh;
    background: url('../img/banner 1.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
}

.content {
    max-width: 600px;
    margin: 0 0 180px 50px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.play {
    background-color: white;
    color: black;
}

.info {
    background-color: gray;
    color: white;
}